html,body,div,p,h1,h2,h3,h4,h5,h6,img,input,form,fieldset,legend,table,th,tr,dt,ul,li,ol,dl,dt,dd
	{
		margin:0;
		padding:0;
	}
/*html
	{
		font-size: 26.27vw;
	}*/
/*html,body
	{
		height:100%;
	}*/
h1,h2,h3,h4,h5,h6
	{
		font-weight: normal;
	}
body
	{
		font-family:"微软雅黑",Arial;
		/*background: red;
		font-size: 16px;*/
	}
ul,li
	{
		list-style:none;
	}
img
	{
		display: block;
		border:none;
	}

a
	{
		text-decoration:none;
	}