@charset "utf-8";

body
    {
        background:#f5f5f5 ;
        margin-top:23px;
    }


#box
    {
        width:856px;
        height: 626px;
        margin:0 auto;
        background: white;
    }

#login_content
    {
        margin:0 auto;
        width:358px;
//      background: red;
       #login_content_firstpart
       {    
            overflow: hidden;
//          margin-top:51px;
            #login_content_img
            {
                
                margin-top:51px;
                margin-bottom:26px ;
                
                img
                {
                    width:49px;
                    height: 49px;
                    margin:0 auto;
                }
                  
            } 
            p
                {
                    width: 184px;
                    height: 35px;
                    font-size:30px ;
                    line-height: 35px;
                    color:#424242;
                    margin:0 auto;
                    margin-bottom:42px ;
                    
                }
           
       }
       #login_content_secondpart
        {
            form
                {
                    input
                        {
                            display: block;
                            width:358px ;
                            height: 50px;
                            border:1px solid #e0e0e0;
                        }
                    #login_content_secondpart_name
                        {
                            margin-bottom:15px;
                            color: #969696;
                            padding-left: 15px;
                            width:343px ;
                        } 
                    #login_content_secondpart_password
                        {
                            margin-bottom:25px;
                            color: #969696;
                             padding-left: 15px;
                            width:343px ;
                        }  
                    #login_content_secondpart_submit
                        {
                            background:#ef5b00 ;
                            text-align: center;
                            color: white;
                            font-size:14px ;
                        }
                }
        }
       #login_content_secondpart_third
        {
            display: flex;
            justify-content: flex-end;
            width:358px ;
            height:37px ;
             
            img
                {
                    width: 2px;
                    height: 17px;
                    background: red;
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-top:4px;
                }
            p
                {
                    color: #757575;
                    font-size: 14px;
                }
        }
       
       
      
    }
